.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: -47px;
}

.container > * {
  width: 100%;
}

mat-form-field {
  width:100%;
}

button {
  width: 100%;
}

.mb-3:hover{
  transform: scale(1.2);
}
