
<section class="mat-elevation-z4">
<form #searchForm="ngForm" (ngSubmit)="searchBugs(searchForm)" class="form-inline">
  <input class="form-control" type="text" name="searchTitle" #searchTitle="ngModel" ngModel placeholder="Search Title">
  <input class="form-control" type="text" name="searchPriority" #searchPriority="ngModel" ngModel  placeholder="Search Priority">
  <input class="form-control" type="text" name="searchReporter" #searchReporter="ngModel" ngModel placeholder="Search Reporter">
  <input class="form-control" type="text" name="searchStatus" #searchStatus="ngModel" ngModel placeholder="Search Status">
  <button class="btn1"><span class="fa fa-search"></span></button>
  <button type="button" class="btn2" (click)="resetSearchingForm(searchForm)"><span class="fa fa-refresh"></span></button>
</form>

<br>
<br>

<table matSort matSortDisableClear="true" class="table table-hover">
  <thead>
    <tr>
      <th mat-sort-header="title" (click)="getBugsSorted('Title')">Title</th>
      <th mat-sort-header="priority" (click)="getBugsSorted('Priority')">Priority</th>
      <th mat-sort-header="reported" (click)="getBugsSorted('Reporter')">Reporter</th>
      <th mat-sort-header="createdAt" (click)="getBugsSorted('Date Created')">Date Created</th>
      <th mat-sort-header="status" (click)="getBugsSorted('Status')">Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bug of bugs">
      <td>{{bug.title}}</td>
      <td>{{bug.priority}}</td>
      <td>{{bug.reporter}}</td>
      <td>{{bug.createdAt | date}}</td>
      <td>{{bug.status}}</td>
      <td><button type="button" class="btn" (click)="goToEdit(bug.id)"><span class="fa fa-edit"></span></button></td>
    </tr>
  </tbody>
  <button type="button" class="btn3" [disabled]="this.pageIndex <= 0" (click)="getPage('previous')"><span class="fa fa-arrow-left"></span></button>
  <button type="button" class="btn4" [disabled]="(this.bugs)?.length === 0 || (this.bugs)?.length < 10" (click)="getPage('next')"><span class="fa fa-arrow-right"></span></button>
</table>

</section>
