.form-inline{
  margin: -47px;
  margin-left: 0px;
  padding: 9px;

  margin-right: 0px;
}

form {
  font-family: sans-serif;
}


.btnEdit {
  display: block;
  width: 30px;
  height: 30px;
  background: #2f519c;
  border-radius: 25%;
  color: white;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
}

.btnDelete {
  background: #f44336;
}

.btnEdit span{
  display: block;
  font-size: 20px;
  left: 6px;
  top: 5px;
  font-weight: 500;
  position: absolute;
}

.btnEdit:hover{
  transform: scale(1.4);
}


table {
  width: 100%;
}

.form-control{
  width: 20%;
  margin-left: 12px;
}

.btnRefresh{
  display: block;
  width: 30px;
  height: 30px;
  color: whitesmoke;
  border-radius: 25%;
  background-color: #3f51b5;
  overflow: hidden;
  position: relative;
  left: 56px;
  border-width: 0px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
}

.btnCreate {
  color: whitesmoke;
  border-radius: 6px;
  background-color:#008000;
  border: 1px solid  	#008000;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
}

.btnCreate:hover{
  transform: scale(1.2);
}

.btnRefresh:hover{
  transform: scale(1.2);
}

.btnRefresh span{
  display: block;
  font-size: 20px;
  left: 6px;
  top: 6px;
  font-weight: 500;
  position: absolute;
}

.btnRefresh span:hover{
  animation: rotate 0.8s infinite;
}

@keyframes rotate {
  0% { transform: rotate(0deg);  }
  25% { transform: rotate(90deg); }
  50% { transform: rotate(180deg); }
  75% { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}

.btnSearch{
  display: block;
  width: 30px;
  height: 30px;
  background-color: #3f51b5;
  border-radius: 25%;
  color: whitesmoke;
  overflow: hidden;
  position: relative;
  left: 36px;
  border-width: 0px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
}

.btnSearch span{
  display: block;
  font-size: 20px;
  left: 6px;
  top: 6px;
  font-weight: 500;
  position: absolute;
}

.btnSearch:hover{
  transform: scale(1.2);
}

.btnBack{
  display: block;
  width: 30px;
  height: 30px;
  color: whitesmoke ;
  border-radius: 25%;
  background-color: #3f51b5;
  overflow: hidden;
  position: relative;
  left: 390px;
  border-width: 0px;
  top: 12px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
}

.btnBack span{
  display: block;
  font-size: 20px;
  left: 7px;
  top: 4px;
  font-weight: 500;
  position: absolute;
}


.btnBack:disabled{
  background-color: #3f51b5;
  opacity: 0.6;
  color: whitesmoke ;
  cursor: not-allowed;
}

.btnNext:disabled{
  background-color: #3f51b5;
  opacity: 0.6;
  color: whitesmoke ;
  cursor: not-allowed;
}

.btnNext{
  display: block;
  width: 30px;
  height: 30px;
  background-color: #3f51b5;
  border-radius: 25%;
  color:whitesmoke;
  overflow: hidden;
  position: relative;
  left: 470px;
  border-width: 0px;
  top: -18px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
}

.btnNext span{
  display: block;
  font-size: 20px;
  left: 7px;
  top: 4px;
  font-weight: 500;
  position: absolute;
}

.btnBack:hover{
  transform: scale(1.2);
}

.btnNext:hover{
  transform: scale(1.2);
}
