<table matSort matSortDisableClear="true" class="table table-hover">
  <thead>
    <tr>
      <th mat-sort-header="title" (click)="getBugsSorted('Title')">Title</th>
      <th mat-sort-header="priority" (click)="getBugsSorted('Priority')">Priority</th>
      <th mat-sort-header="reported" (click)="getBugsSorted('Reporter')">Reporter</th>
      <th mat-sort-header="createdAt" (click)="getBugsSorted('Date Created')">Date Created</th>
      <th mat-sort-header="status" (click)="getBugsSorted('Status')">Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bug of bugs">
      <td>{{bug.title}}</td>
      <td>{{bug.priority}}</td>
      <td>{{bug.reporter}}</td>
      <td>{{bug.createdAt | date}}</td>
      <td>{{bug.status}}</td>
      <td><button type="button" (click)="goToEdit(bug.id)">Edit</button></td>
    </tr>
  </tbody>
</table>
