/* .nav-link, .navbar-brand {
  cursor: pointer;
 }

*/
nav {
  background: white;
}
span {
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.container-fluid {
  padding: 3px;
}

img {
  width: 54px;
}
/*
.navbar-light .navbar-nav .nav-link {
  color:black;
}

.navbar-light .navbar-nav .nav-item {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  border-right:1px solid #2f519c;
}

.navbar {
  background-color: #FFF !important;
}

.navbar-light {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
  border-bottom: 1px solid #f0f0f0;
}
*/
