/* .nav-link, .navbar-brand {
  cursor: pointer;
 }

*/
.navbar-light .navbar-nav .nav-link:hover {
  color:#2f519c;
}
/*
.navbar-light .navbar-nav .nav-link {
  color:black;
}

.navbar-light .navbar-nav .nav-item {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  border-right:1px solid #2f519c;
}

.navbar {
  background-color: #FFF !important;
}

.navbar-light {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
  border-bottom: 1px solid #f0f0f0;
}
*/
li.nav-item a.nav-link.active{
  color: #2f519c !important;
}

.mb-5, .my-5 {
  margin-bottom: 5rem !important;
}
